.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0.43em 1em;
  background-color: rgb(13, 17, 32);
}

ul {
  display: flex;
  gap: 1em;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
