*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(20, 45, 68);
  --secondary-color: ;
  --black-c: #0b0b0b;
  --bg-c: #f7f6f6;
}

html,
body {
  scrollbar-width: 110px;
  -webkit-scrollbar-width: 110px;
}

h1 {
  color: var(--black-c);
}

#layout {
  height: calc(100vh - 6.5em);
}
