* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, 'sans-serif';
}

section {
  height: 100vh;
  padding: 10em;
  background-color: #06283d;
  display: flex;
  gap: 1em;
}

header {
  background-color: #4c6793;
  padding: 5px 10px;
  color: #f9f9f9;
  border: 1px solid #256d85;
}

textarea {
  font-family: Poppins;
  padding: 10px;
  width: 30em;
  resize: none;
  height: 13em;
}
textarea:focus {
  outline: none;
}

h1 {
  color: black;
}

#preview-container {
  width: 30em;
}

#preview {
  background-color: #f9f9f9;
  padding: 10px;
  height: 11em;
}
